VITE_SUPABASE_URL=https://dgfkglusjgyugjzipfne.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRnZmtnbHVzamd5dWdqemlwZm5lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI0NTMyMDAsImV4cCI6MjA3ODAyOTIwMH0.OYb_VRXRu24K1kREzJq8aT6kW9G3Xne6HWwOCNe9J0w